<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../public/css/임시.css">
    <link rel="stylesheet" href="../public/css/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600;700&family=Noto+Sans+KR:wght@300;400;500;700&display=swap" rel="stylesheet">

    <title>Fancy's Portfolio</title>
</head>
<body>

    <!-- <p class="greeting"></p> -->

    <section id="profile">
        <div class="container">
            <div class="row">
                <article id="profileCont" class="contBox shadow">
                    <div class="cont_img">
                        <div class="imgBg">
                            <img src="../public/image/profile.png" alt="">
                        </div>
                    </div>
                    <div class="cont_desc">
                        <p class="p-1">
                            sim's name is . . .
                            <span style="display: block;">kim soo</span>
                        </p>
                        <p class="p-2">
                            Soon to be a
                            <span style="display: block;">web developer👩‍💻</span>
                        </p>
                        <p class="p-3">Korea born and raised in Seoul🌆</p>
                        <ul class="can">
                            <li class="she">She can&nbsp;</li>
                            <li>#Publishing</li>
                            <li>#VanilaJS</li>
                            <li>#NodeJS</li>
                            <li>#React</li>
                        </ul>
                        <ul class="is">
                            <li class="she">She is&nbsp;</li>
                            <li>#Honest</li>
                            <li>#Responsive</li>
                            <li>#Creative</li>
                            <li>#Kind</li>
                        </ul>
                    </div>
                </article>
                <article id="guide">
                    <p class="shake-vertical">이 심에 대해서 더 알아볼까요? 👇👇</p>
                </article>
            </div>
        </div>
    </section>
    
    <section id="experience">
        <div class="container">
            <div class="row">
                <%- include('diamond.html') %>
                <article id="experCont">
                    <div class="education">
                        <div id="subject">
                            <h2>
                                <span class="circle shadow2"><em></em></span>
                                <span class="title shadow2">Educations...</span>
                            </h2>
                        </div>
                        <ul>
                            <li>
                                <img src="../public/image/Book.png" alt="대학교">
                                <strong>Lincoln High School</strong>
                                <p>2021.02 - 2017.08</p>
                            </li>
                            <li>
                                <img src="../public/image/line.svg">
                            </li>
                            <li>
                                <img src="../public/image/Book.png" alt="대학교">
                                <strong>Myungju UNIV.</strong>
                                <p>2021.02 - 2017.08</p>
                            </li>
                            <li>
                                <img src="../public/image/line2.svg">
                            </li>
                            <li>
                                <img src="../public/image/Homework.png" alt="웹퍼블리싱">
                                <strong>웹퍼블리싱 기초역량</strong>
                                <p>2020.06 - 2020.11</p>
                            </li>
                            <li>
                                <img src="../public/image/line.svg">
                            </li>
                            <li>
                                <img src="../public/image/Homework.png" alt="UIUX">
                                <strong>UIUX 스페셜리스트</strong>
                                <p>2021.12 - 2022.03</p>
                            </li>
                        </ul>
                    </div>
                    <div class="work">
                        <div id="subject">
                            <h2>
                                <span class="circle shadow2"><em></em></span>
                                <span class="title shadow2">Work Experience...</span>
                            </h2>
                        </div>
                        <ul>
                            <li>
                                <img src="../public/image/Briefcase.png" alt="대학교">
                                <strong>해맑은동물병원</strong>
                                <p>2017.08 - 2018.02</p>
                            </li>
                            <li>
                                <img src="../public/image/line.svg">
                            </li>
                            <li>
                                <img src="../public/image/Briefcase5.png" alt="대학교">
                                <strong>호박앤컴퍼니</strong>
                                <p>2021.03 - 2021.05</p>
                            </li>
                            <li>
                                <img src="../public/image/line2.svg">
                            </li>
                            <li>
                                <img src="../public/image/HelpingHands.png" alt="웹퍼블리싱">
                                <strong>Your Co-worker☺️</strong>
                                <p>2022 - </p>
                            </li>
                        </ul>
                    </div>
                </article>
            </div>
        </div>
    </section>

    <section id="skills">
        <div class="container">
            <div class="row">
                <%- include('diamond.html') %>
                <article id="subject2">
                    <div class="wrap shadow2">
                        <div class="list list1">
                            <span>Skills&nbsp;</span>
                            <span><img src="../public/image/play.png"></span>
                        </div>
                        <div class="list list2">Level</div>
                    </div>
                </article>
                <article id="skillCont">
                    <ul>
                        <li class="shadow2">
                            <div class="img">
                                <img src="../public/image/html.png" alt="HTML">
                            </div>
                            <div class="desc">
                                <p>제 스킬은 어쩌고입니다아아아.</p>
                                <span>
                                    <em></em>
                                </span>
                            </div>
                            <div class="percent">
                                <p>90%</p>
                            </div>
                        </li>
                        <li class="shadow2">
                            <div class="img">
                                <img src="../public/image/css.png" alt="CSS">
                            </div>
                            <div class="desc">
                                <p>제 스킬은 어쩌고입니다아아아.</p>
                                <span>
                                    <em></em>
                                </span>
                            </div>
                            <div class="percent">
                                <p>90%</p>
                            </div>
                        </li>
                        <li class="shadow2">
                            <div class="img">
                                <img src="../public/image/js.png" alt="JS">
                            </div>
                            <div class="desc">
                                <p>제 스킬은 어쩌고입니다아아아.</p>
                                <span>
                                    <em></em>
                                </span>
                            </div>
                            <div class="percent">
                                <p>90%</p>
                            </div>
                        </li>
                        <li class="shadow2">
                            <div class="img">
                                <img src="../public/image/react.png" alt="React">
                            </div>
                            <div class="desc">
                                <p>제 스킬은 어쩌고입니다아아아.</p>
                                <span>
                                    <em></em>
                                </span>
                            </div>
                            <div class="percent">
                                <p>90%</p>
                            </div>
                        </li>
                        <li class="shadow2">
                            <div class="img">
                                <img src="../public/image/nodejs.png" alt="NodeJs">
                            </div>
                            <div class="desc">
                                <p>제 스킬은 어쩌고입니다아아아.</p>
                                <span>
                                    <em></em>
                                </span>
                            </div>
                            <div class="percent">
                                <p>90%</p>
                            </div>
                        </li>
                        <li class="shadow2">
                            <div class="img">
                                <img src="../public/image/github.png" alt="Github">
                            </div>
                            <div class="desc">
                                <p>제 스킬은 어쩌고입니다아아아.</p>
                                <span>
                                    <em></em>
                                </span>
                            </div>
                            <div class="percent">
                                <p>90%</p>
                            </div>
                        </li>
                        <li class="shadow2">
                            <div class="img">
                                <img src="../public/image/photoshop.png" alt="Photoshop">
                            </div>
                            <div class="desc">
                                <p>제 스킬은 어쩌고입니다아아아.</p>
                                <span>
                                    <em></em>
                                </span>
                            </div>
                            <div class="percent">
                                <p>90%</p>
                            </div>
                        </li>
                        <li class="shadow2">
                            <div class="img">
                                <img src="../public/image/xd.png" alt="XD">
                            </div>
                            <div class="desc">
                                <p>제 스킬은 어쩌고입니다아아아.</p>
                                <span>
                                    <em></em>
                                </span>
                            </div>
                            <div class="percent">
                                <p>90%</p>
                            </div>
                        </li>
                    </ul>
                </article>
            </div>
        </div>
    </section>

    <section id="favorability">
        <div class="container">
            <div class="row">
                <%- include('diamond.html') %>
                <article id="hobbies" class="sec contBox shadow">
                    <div class="tit">hobbies</div>
                        <ul class="content_wrap">
                            <li>
                                <span>
                                    <img src="../public/image/Popcorn.png" alt="movies">
                                </span>
                                <strong>Watching Movies</strong>
                            </li>
                            <li>
                                <span>
                                    <img src="../public/image/VideoGameController.png" alt="games">
                                </span>
                                <strong>Playing Mobile Games</strong>
                            </li>
                            <li>
                                <span>
                                    <img src="../public/image/FryingPanEggs.png" alt="Cooking">
                                </span>
                                <strong>Cooking</strong>
                            </li>
                            <li>
                                <span>
                                    <img src="../public/image/Palette.png" alt="Drawing">
                                </span>
                                <strong>Drawing</strong>
                            </li>
                        </ul>
                </article>
                <article id="favor" class="sec contBox shadow">
                        <div class="tit">likes / dislikes</div>
                        <div class="content_wrap">
                            <div class="content">
                                <div class="like favor">
                                    <div class="thumbs thumbs1">
                                        <p>👍</p>
                                    </div>
                                    <div class="list">
                                        <ul>
                                            <li><img src="../public/image/Cat.png" alt="Cat"></li>
                                            <li><img src="../public/image/Penguin.png" alt="Penguin"></li>
                                            <li><img src="../public/image/SproutSoil.png" alt="nature"></li>
                                            <li class="plus">
                                                <img src="../public/image/plus.svg" alt="add">
                                            </li>
                                            <li class="plus">
                                                <img src="../public/image/plus.svg" alt="add">
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="dislike favor">
                                    <div class="thumbs thumbs2">
                                        <p>👎</p>
                                    </div>
                                    <div class="list">
                                        <ul>
                                            <li><img src="../public/image/BeetleRed.png" alt="Bug"></li>
                                            <li><img src="../public/image/Treasure.png" alt="Treasure"></li>
                                            <li class="plus2">
                                                <img src="../public/image/plus.svg" alt="add">
                                            </li>
                                            <li class="plus2">
                                                <img src="../public/image/plus.svg" alt="add">
                                            </li>
                                            <li class="plus2">
                                                <img src="../public/image/plus.svg" alt="add">
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                </article>
            </div>
        </div>
    </section>

    <section id="project">
        <div class="container">
            <div class="row">
                <%- include('diamond.html') %>
                <!-- <div id="subject">
                    <h2>
                        <span class="circle shadow2"><em></em></span>
                        <span class="title shadow2">Project...</span>
                    </h2>
                </div> -->
                <article id="projectList" class="sec contBox shadow">
                    <div class="tit">PROJECTS</div>
                    <ul class="proj_wrap">
                        <li class="shadow2">
                            <div class="img">
                                <img src="../public/image/por3.png" alt="Droptop">
                            </div>
                            <div class="desc">
                                <strong>감사일기</strong>
                            </div>
                            <span class="frongBg">
                            </span>
                            <div id="explain">
                                <ul class="tag">
                                    <li>#NodeJS</li>
                                    <li>#MongDB</li>
                                    <li>#바닐라JS</li>
                                </ul>
                                <div class="desc">
                                    <p>📌 개인작업 100%</p>
                                    <p>📌 발행/수정/삭제 기능을 구현한 일기 프로그램</p>
                                </div>
                                <ul class="btns">
                                    <li><a href="#">SITE</a></li>
                                    <li><a href="#">PROCESS</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="shadow2">
                            <div class="img">
                                <img src="../public/image/por0.png" alt="Sidmool">
                            </div>
                            <div class="desc">
                                <strong>시드물</strong>
                            </div>
                            <span class="frongBg">
                            </span>
                            <div id="explain">
                                <ul class="tag">
                                    <li>#SASS</li>
                                    <li>#크로스브라우징</li>
                                    <li>#데이터바인딩</li>
                                </ul>
                                <div class="desc">
                                    <p>📌 개인작업 100%</p>
                                    <p>📌 검색기능, 데이터 바인딩을 구현한 리뉴얼 사이트</p>
                                </div>
                                <ul class="btns">
                                    <li><a href="#">SITE</a></li>
                                    <li><a href="#">PROCESS</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="shadow2">
                            <div class="img">
                                <img src="../public/image/por5.png" alt="Portfolio">
                            </div>
                            <div class="desc">
                                <strong>포트폴리오</strong>
                            </div>
                            <span class="frongBg">
                            </span>
                            <div id="explain">
                                <ul class="tag">
                                    <li>#반응형</li>
                                    <li>#메타태그</li>
                                    <li>#디자인</li>
                                </ul>
                                <div class="desc">
                                    <p>📌 개인작업 100%</p>
                                    <p>📌 직접 디자인한 반응형 포트폴리오 사이트</p>
                                </div>
                                <ul class="btns">
                                    <li><a href="#">SITE</a></li>
                                    <li><a href="#">PROCESS</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="shadow2">
                            <div class="img">
                                <img src="../public/image/por1.png" alt="Megabox">
                            </div>
                            <div class="desc">
                                <strong>메가박스</strong>
                            </div>
                            <span class="frongBg">
                            </span>
                            <div id="explain">
                                <ul class="tag">
                                    <li>#반응형</li>
                                    <li>#메타태그</li>
                                    <li>#HTML5</li>
                                </ul>
                                <div class="desc">
                                    <p>📌 개인작업 100%</p>
                                    <p>📌 반응형을 고려한 메가박스 클론 사이트</p>
                                </div>
                                <ul class="btns">
                                    <li><a href="#">SITE</a></li>
                                    <li><a href="#">PROCESS</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="shadow2">
                            <div class="img">
                                <img src="../public/image/por2.png" alt="Gentium">
                            </div>
                            <div class="desc">
                                <strong>젠티움</strong>
                            </div>
                            <span class="frongBg">
                            </span>
                            <div id="explain">
                                <ul class="tag">
                                    <li>#바닐라JS</li>
                                    <li>#HTML5</li>
                                    <li>#CSS3</li>
                                </ul>
                                <div class="desc">
                                    <p>📌 개인작업 100%</p>
                                    <p>📌 스크롤, 슬라이드 애니메이션 직접 구현</p>
                                </div>
                                <ul class="btns">
                                    <li><a href="#">SITE</a></li>
                                    <li><a href="#">PROCESS</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="shadow2">
                            <div class="img">
                                <img src="../public/image/por4.png" alt="weltree">
                            </div>
                            <div class="desc">
                                <strong>웰트리</strong>
                            </div>
                            <span class="frongBg">
                            </span>
                            <div id="explain">
                                <ul class="tag">
                                    <li>#HTML5</li>
                                    <li>#CSS3</li>
                                    <li>#Jquery</li>
                                </ul>
                                <div class="desc">
                                    <p>📌 개인작업 100%</p>
                                    <p>📌 기본 웹퍼블리싱을 고려한 리뉴얼 사이트 </p>
                                </div>
                                <ul class="btns">
                                    <li><a href="#">SITE</a></li>
                                    <li><a href="#">PROCESS</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="shadow2">
                            <div class="img">
                                <img src="../public/image/por3.png" alt="Droptop">
                            </div>
                            <div class="desc">
                                <strong>드롭탑</strong>
                            </div>
                            <span class="frongBg">
                            </span>
                            <div id="explain">
                                <ul class="tag">
                                    <li>#HTML5</li>
                                    <li>#CSS3</li>
                                    <li>#Jquery</li>
                                </ul>
                                <div class="desc">
                                    <p>📌 개인작업 100%</p>
                                    <p>📌 기본 웹퍼블리싱을 고려한 리뉴얼 사이트 </p>
                                </div>
                                <ul class="btns">
                                    <li><a href="#">SITE</a></li>
                                    <li><a href="#">PROCESS</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </article>
            </div>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
        let getNickname = window.localStorage.getItem('nickname');

        var greeting = `안녕하세요 ${getNickname}님. 반나서 반갑습니다!`
        $('.greeting').html(greeting)

        // 스크롤
        var mHtml = $("html");
        var page = 1;
        $(window).on("wheel", function (e) {
            if (mHtml.is(":animated")) 
                return;
            if (e.originalEvent.deltaY > 0) {
                if (page == 6) 
                    return;
                page++;
            } else if (e.originalEvent.deltaY < 0) {
                if (page == 1) 
                    return;
                page--;
            }
            var posTop = (page - 1) * $(window).height();
            mHtml.animate({scrollTop: posTop});
        })
    </script>
</body>
</html>